/* *** */
/* APP */
/* *** */
/* ------------------------------------------------------------ */
/* IMPORTS */
/* ------------------------------------------------------------ */
/* ********* */
/* VARIABLES */
/* ********* */
/* ------------------------------------------------------------ */
/* ADS */
/* ------------------------------------------------------------ */
.section-show-ads .subtitle {
  color: #e67e22;
  text-align: center !important; }

.section-show-ads img {
  margin-top: 30px; }

.section-show-ads .description {
  margin-top: 30px;
  font-size: 80%;
  text-align: justify; }

.section-show-ads .profile {
  margin-top: 30px;
  text-align: center; }
  .section-show-ads .profile img {
    border: 2px solid #f4f4f4 !important;
    border-radius: 50%;
    margin-top: 0;
    padding: 5px; }

.section-show-ads ul {
  margin-top: 30px; }
  .section-show-ads ul li a {
    font-size: 80%; }

.section-show-ads .tab-content {
  margin-top: 10px;
  font-size: 80%; }

.section-show-ads .user-description {
  margin-bottom: 30px;
  font-size: 80%;
  text-align: justify; }

.section-show-ads .price {
  background-color: #e67e22;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 130px;
  padding-top: 15px;
  width: 80px;
  height: 80px;
  line-height: 25px;
  color: white;
  text-align: center; }

.section-show-ads .tab-content {
  margin-top: 20px; }
  .section-show-ads .tab-content i {
    padding-left: 10px; }
  .section-show-ads .tab-content .row {
    margin-bottom: 15px; }
  .section-show-ads .tab-content strong {
    padding-left: 10px; }

/* ------------------------------------------------------------ */
/* ANIMATIONS */
/* ------------------------------------------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1; }

/* ------------------------------------------------------------ */
/* AVATAR */
/* ------------------------------------------------------------ */
.section-avatar {
  padding: 0 0 20px 0; }
  .section-avatar p {
    font-size: 80%; }

#avatar-form {
  margin-top: 0; }

.small-avatar {
  border-radius: 50%;
  width: 32px;
  margin-right: 5px; }

#image-avatar {
  border: 1px solid #ddd;
  padding: 5px; }

.image-upload > input {
  display: none; }

.image-upload label {
  cursor: pointer; }

.image-upload img {
  border-radius: 50%; }

/* ------------------------------------------------------------ */
/* BALISES */
/* ------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *.actif {
    color: #e67e22 !important; }

blockquote {
  margin-top: 40px;
  position: relative;
  border-left: none;
  padding: 2%;
  font-style: italic;
  line-height: 145%; }
  blockquote:before {
    position: absolute;
    top: -5px;
    left: -3px;
    font-size: 500%;
    display: block;
    content: '\201C'; }

cite {
  margin-top: 25px;
  font-size: 90%;
  display: block; }
  cite img {
    margin-right: 10px;
    border-radius: 50%;
    height: 45px;
    vertical-align: middle; }

form {
  margin-top: 10px; }
  form .row {
    margin-bottom: 20px; }

html, body {
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

body {
  font-family: 'Lato', 'Arial', sans-serif; }

h1,
h2 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase; }

h3 {
  margin: 0;
  font-weight: 300; }

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 280%;
  letter-spacing: 1px;
  word-spacing: 4px; }

h2 {
  margin-bottom: 30px;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center; }

h2:after {
  content: " ";
  background-color: #e67e22;
  margin: 30px auto 0 auto;
  width: 100px;
  height: 2px;
  display: block; }

h3 {
  margin-bottom: 15px;
  font-size: 110%; }

/* ------------------------------------------------------------ */
/* BOX */
/* ------------------------------------------------------------ */
.box {
  padding: 1%; }
  .box p {
    font-size: 90%;
    line-height: 145%; }

/* ------------------------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------------------------ */
.btn:link,
.btn:visited,
input[type=submit] {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 110%;
  font-weight: 300;
  tewt-decoration: none;
  display: inline-block;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s; }
  .btn:link:hover, .btn:link:active, .btn:link:focus,
  .btn:visited:hover,
  .btn:visited:active,
  .btn:visited:focus,
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit]:focus {
    background-color: #cf6d17;
    color: white !important; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  border: 1px solid #e67e22;
  background-color: #e67e22;
  margin-right: 15px;
  color: white; }
  .btn-full:link:hover, .btn-full:link:active, .btn-full:link:focus,
  .btn-full:visited:hover,
  .btn-full:visited:active,
  .btn-full:visited:focus,
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit]:focus {
    border: 1px solid #cf6d17;
    color: white !important; }

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22 !important;
  color: orange; }
  .btn-ghost:link:hover, .btn-ghost:link:active,
  .btn-ghost:visited:hover,
  .btn-ghost:visited:active {
    border: 1px solid #cf6d17;
    background-color: #cf6d17;
    color: white !important; }

/* ------------------------------------------------------------ */
/* CARD */
/* ------------------------------------------------------------ */
.card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto 0 auto;
  width: 370px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s; }
  .card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); }
    .card:hover .card-thumb {
      height: 100px; }
    .card:hover .card-thumb img {
      opacity: 0.6; }

.card:hover .card-body {
  height: 410px; }

.card:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.card-date {
  background-color: #e67e22;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  padding-top: 15px;
  line-height: 15px;
  color: white;
  text-align: center; }

.card-date-price {
  font-size: 80%;
  display: block; }
  .card-date-price span {
    font-size: 115%;
    font-weight: 300;
    display: block; }

.card-city {
  background-color: #e67e22;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  padding: 5px 10px;
  line-height: 15px;
  color: white;
  text-align: center; }

.card-thumb {
  background-color: black;
  border-bottom: 2px solid #f4f4f4 !important;
  height: 235px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s; }
  .card-thumb img {
    opacity: 1;
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }

.card-body {
  position: relative;
  padding: 20px;
  height: 220px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s; }

.card-location {
  background-color: #e67e22;
  position: absolute;
  top: -27px;
  left: 0;
  padding: 0 15px;
  height: 25px;
  line-height: 25px;
  color: white !important;
  font-size: 90%;
  text-transform: uppercase; }
  .card-location a {
    color: white !important;
    margin-bottom: none;
    text-decoration: none; }

.card-title {
  margin: 0;
  padding: 0 0 25px 0;
  line-height: 25px;
  font-size: 90%;
  font-weight: bold; }
  .card:hover .card-title {
    -webkit-animation: titileBlur 0.3s;
    animation: titileBlur 0.3s; }
  .card-title a {
    color: #555 !important;
    text-decoration: 0 !important;
    border-bottom: 2px solid transparent !important; }
    .card-title a:hover {
      border-bottom: 1px solid #cf6d17 !important; }

.card-subtitle {
  margin: 0;
  padding: 0 0 15px 0;
  color: #e67e22; }
  .card:hover .card-subtitle {
    -webkit-animation: subTitileBlur 0.3s;
    animation: subTitileBlur 0.3s; }

.card-description {
  position: absolute;
  left: 20px;
  right: 20px;
  margin-bottom: 30px;
  color: #555;
  line-height: 30px;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.3s -0.1s, -webkit-transform 0.3s -0.1s;
  transition: opacity 0.3s -0.1s, -webkit-transform 0.3s -0.1s;
  transition: opacity 0.3s -0.1s, transform 0.3s -0.1s;
  transition: opacity 0.3s -0.1s, transform 0.3s -0.1s, -webkit-transform 0.3s -0.1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateY(25px);
  transform: translateY(25px); }
  .card:hover .card-description {
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.card-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #888;
  font-size: 70%; }
  .card-footer a {
    color: #888 !important;
    font-style: italic;
    text-decoration: 0;
    border-bottom: 1px solid transparent !important; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@-webkit-keyframes titileBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent; } }

@keyframes titileBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent; } }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@-webkit-keyframes subTitileBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(230, 126, 34, 0.6); }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(230, 126, 34, 0); } }

@keyframes subTitileBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(230, 126, 34, 0.6); }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(230, 126, 34, 0); } }

/* ------------------------------------------------------------ */
/* CITIES */
/* ------------------------------------------------------------ */
.cities-photo {
  margin-bottom: 15px;
  width: 100%;
  height: auto; }

.city-feature {
  margin-bottom: 5px; }

/* ------------------------------------------------------------ */
/* CLASSES */
/* ------------------------------------------------------------ */
.mandatory {
  position: absolute !important;
  top: 6px;
  left: -15px;
  color: #d9534f;
  font-size: 60%; }

.relative {
  position: relative !important; }

.success {
  color: #5cb85c; }

.error {
  color: #d9534f; }

/* ------------------------------------------------------------ */
/* CONTACT FORM */
/* ------------------------------------------------------------ */
.section-contact {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87)), url("img/contact.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87)), url("img/contact.jpg");
  background-position: center;
  background-size: cover; }

/* ------------------------------------------------------------ */
/* CLEARFIX */
/* ------------------------------------------------------------ */
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/* ------------------------------------------------------------ */
/* CONTAINER & ROW */
/* ------------------------------------------------------------ */
.container-fluid {
  padding: 0; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

/* ------------------------------------------------------------ */
/* DROPDOWN MENU */
/* ------------------------------------------------------------ */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  top: 38px;
  min-width: 160px;
  font-size: 90%;
  display: none; }

.dropdown-content a {
  padding: 12px 16px !important;
  color: black;
  text-decoration: none;
  height: 45px;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

/* ------------------------------------------------------------ */
/* ERROR MESSAGE */
/* ------------------------------------------------------------ */
.help-block {
  margin-bottom: 0;
  font-size: 70% !important; }

/* ------------------------------------------------------------ */
/* FEATURES */
/* ------------------------------------------------------------ */
.section-features .long-copy {
  margin-bottom: 30px; }

/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */
footer {
  background-image: url("img/footer.jpg");
  background-color: #333;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px;
  font-size: 80%; }
  footer ul {
    list-style: none; }
  footer p {
    margin-top: 20px;
    color: #888;
    font-size: 90%;
    text-align: center; }

.footer-nav {
  font-size: 110%;
  float: left; }

.footer-social-links {
  float: right; }
  .footer-social-links li a:link, .footer-social-links li a:visited {
    font-size: 150%; }

.footer-flags {
  text-align: center; }
  .footer-flags button[type=submit] {
    border: none;
    height: 0; }

.footer-nav li,
.footer-social-links li,
.footer-flags li {
  margin-right: 20px;
  display: inline-block; }
  .footer-nav li:last-child,
  .footer-social-links li:last-child,
  .footer-flags li:last-child {
    margin-right: 0; }
  .footer-nav li a:link, .footer-nav li a:visited,
  .footer-social-links li a:link,
  .footer-social-links li a:visited,
  .footer-flags li a:link,
  .footer-flags li a:visited {
    border-bottom: none;
    color: #888;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .footer-nav li a:hover, .footer-nav li a:active,
  .footer-social-links li a:hover,
  .footer-social-links li a:active,
  .footer-flags li a:hover,
  .footer-flags li a:active {
    color: #ddd; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-twitter:hover {
  color: #00aced; }

.ion-social-googleplus:hover {
  color: #dd4b39; }

.ion-social-instagram:hover {
  color: #517fa4; }

/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */
header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }
  header a {
    border-bottom: none !important; }

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.logo,
.logo-black {
  width: auto;
  height: 50px;
  margin-top: 20px;
  float: left; }

.logo-black {
  display: none; }

.logo-text {
  margin-top: 25px;
  margin-left: 15px;
  color: white;
  font-size: 200%;
  display: inline-block; }
  .logo-text span {
    margin-right: 0;
    color: #cf6d17; }

/* Main navigation */
.main-nav {
  margin-top: 47px;
  list-style: none;
  font-size: 90%;
  float: right; }
  .main-nav .dropdown-content {
    top: 34px; }
    .main-nav .dropdown-content a {
      color: #555 !important; }
  .main-nav li {
    margin-left: 25px;
    display: inline-block; }
    .main-nav li a:link, .main-nav li a:visited {
      border-bottom: 2px solid transparent !important;
      padding: 8px 0;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: border-bottom 0.3s;
      transition: border-bottom 0.3s; }
    .main-nav li a:hover, .main-nav li a:active {
      border-bottom: 2px solid #e67e22 !important; }
  .main-nav li:last-child a img {
    margin-top: -7px; }

/* Mobile navigation */
.mobile-nav-icon {
  margin-top: 30px;
  cursor: pointer;
  display: none;
  float: right; }
  .mobile-nav-icon i {
    font-size: 200%;
    color: white; }

/* Small navigation */
.small-navigation {
  background-image: none !important;
  background-color: rgba(255, 255, 255, 0.98);
  margin-bottom: 0;
  height: auto; }
  .small-navigation .main-nav {
    margin-top: 17px !important; }
    .small-navigation .main-nav .dropdown-content {
      top: 39px; }
  .small-navigation nav {
    box-shadow: 0 2px 2px #efefef; }
    .small-navigation nav li a:link, .small-navigation nav li a:visited {
      border-bottom: 3px solid transparent !important;
      padding: 18px 0 13px 0;
      color: #555;
      font-size: 80% !important; }
    .small-navigation nav li a:hover, .small-navigation nav li a:active {
      border-bottom: 3px solid #e67e22 !important;
      padding-bottom: 13px; }
  .small-navigation .logo-black {
    margin: 5px 0 10px 0;
    height: 40px;
    display: block; }
  .small-navigation .logo-text {
    margin-top: 7px;
    color: #555;
    font-size: 150%; }
  .small-navigation .main-nav {
    margin-top: 23px;
    margin-bottom: 0; }

/* Sticky navigation */
.sticky {
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
  .sticky .main-nav {
    margin-top: 20px;
    font-size: 80%; }
    .sticky .main-nav .dropdown-content {
      top: 42px; }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
      border-bottom: 3px solid transparent !important;
      padding: 8px 0 16px 0;
      color: #555; }
    .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
      border-bottom: 3px solid #e67e22 !important;
      padding-bottom: 16px; }
  .sticky .logo-black {
    margin: 5px 0 10px 0;
    height: 40px;
    display: block; }
  .sticky .logo {
    display: none; }
  .sticky .logo-text {
    margin-top: 7px;
    color: #555;
    font-size: 150%; }

/* ------------------------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------------------------ */
.section-steps {
  background-color: #f4f4f4;
  padding-bottom: 50px; }

.steps-box:first-child {
  margin-top: 20px;
  margin-right: 0; }

.steps-box:last-child {
  margin-top: 90px;
  padding-left: 3%; }

.layout-image {
  margin-left: 40px;
  text-align: right; }

.works-step {
  margin-bottom: 50px; }
  .works-step div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    margin-right: 25px;
    padding: 2px 8px 8px 8px;
    width: 55px;
    height: 55px;
    color: #e67e22;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    float: left; }
  .works-step p {
    padding-top: 15px; }

/* ------------------------------------------------------------ */
/* ICONS */
/* ------------------------------------------------------------ */
.icon-big {
  margin-bottom: 10px;
  color: #e67e22;
  font-size: 350%;
  display: block; }

.icon-small {
  margin-top: -5px;
  margin-right: 10px;
  width: 30px;
  color: #e67e22;
  font-size: 120%;
  text-align: center;
  line-height: 120%;
  vertical-align: middle;
  display: inline-block; }

/* ------------------------------------------------------------ */
/* LINKS */
/* ------------------------------------------------------------ */
a:link,
a:visited {
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  color: #e67e22;
  text-decoration: none;
  -webkit-transition: border-bottom 0.3s, color 0.3s;
  transition: border-bottom 0.3s, color 0.3s; }

a:hover,
a:active {
  border-bottom: 1px solid transparent;
  color: #555; }

a.simple-link:link,
a.simple-link:visited,
a.link-invisible:link,
a.link-invisible:visited {
  border-bottom: 1px solid transparent;
  color: #555 !important;
  font-size: 80%; }

a.simple-link:hover,
a.simple-link:active {
  border-bottom: 1px solid #e67e22; }

a.link-invisible:hover,
a.link-invisible:active {
  border-bottom: 1px solid transparent; }

/* ------------------------------------------------------------ */
/* NOTIFICATION */
/* ------------------------------------------------------------ */
.peek-a-bar-success {
  background-color: #5cb85c !important;
  font-size: 80%;
  color: white; }

.peek-a-bar-error {
  background-color: #d9534f !important;
  font-size: 80%;
  color: white; }

/* ------------------------------------------------------------ */
/* PARAGRAPHS */
/* ------------------------------------------------------------ */
.long-copy {
  width: 70%;
  line-height: 145%;
  margin-left: 15%;
  text-align: center; }

/* ------------------------------------------------------------ */
/* PHOTOS SHOWCASE */
/* ------------------------------------------------------------ */
.section-photos {
  padding: 0; }

.photos-showcase {
  margin-bottom: 0;
  width: 100%;
  list-style: none; }
  .photos-showcase li {
    width: 25%;
    display: block;
    float: left; }

.photo {
  background-color: black;
  margin: 0;
  width: 100%;
  overflow: hidden; }
  .photo img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
    .photo img:hover {
      cursor: pointer;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }

/* ------------------------------------------------------------ */
/* PROFILE FORM */
/* ------------------------------------------------------------ */
.profile-form {
  margin-bottom: 25px; }

/* ------------------------------------------------------------ */
/* PROGRESS BAR */
/* ------------------------------------------------------------ */
.progress {
  margin-bottom: 5px;
  margin-top: 10px;
  height: 5px; }

/* ------------------------------------------------------------ */
/* REGISTRATION, LOGIN, & RESET PASSWORD */
/* ------------------------------------------------------------ */
.section-registration, .section-login, .section-reset-password {
  margin: 0;
  padding: 90px 0 100px 0; }

.register-form, .login-form, .reset-password-form {
  margin-top: 10px; }
  .register-form .form-group, .login-form .form-group, .reset-password-form .form-group {
    margin-bottom: 0; }

.register-form .g-recaptcha {
  margin-top: 5px !important; }

/* ------------------------------------------------------------ */
/* SECTIONS */
/* ------------------------------------------------------------ */
section {
  padding: 80px 0; }

/* ------------------------------------------------------------ */
/* SIDE BAR */
/* ------------------------------------------------------------ */
#sidebar {
  border-right: 1px solid #ddd !important;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-size: 95%; }
  #sidebar h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #e67e22; }
  #sidebar li {
    list-style: none;
    text-align: right;
    line-height: 150%; }
    #sidebar li a:link, #sidebar li a:visited {
      border-bottom: 2px solid transparent !important;
      font-size: 80%;
      color: #555 !important;
      text-decoration: none !important; }
    #sidebar li a:hover, #sidebar li a:active {
      border-bottom: 2px solid #e67e22 !important; }

/* ------------------------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------------------------ */
.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/testimonials.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/testimonials.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white; }

/* ************* */
/* MEDIA QUERIES */
/* ************* */
/* ------------------------------------------------------------ */
/* IMPORTS */
/* ------------------------------------------------------------ */
/* ********* */
/* VARIABLES */
/* ********* */
/* ------------------------------------------------------------ */
/* BIG TABLETS to 1200px (width smaller than the 1140px row) */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    padding: 0 2%;
    width: 100%; }
  .main-nav {
    font-size: 90%; }
  .logo-text {
    margin-top: 35px;
    font-size: 160%; }
  .row {
    padding: 0 2%; }
  .steps-box img {
    margin-left: 0; } }

/* ------------------------------------------------------------ */
/* SMALL TABLETS to BIG TABLETS from 992 to 1023px */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 1023px) {
  .main-nav {
    margin-top: 50px; }
    .main-nav li {
      margin-left: 20px; }
  .sticky .logo-text {
    margin-top: 15px; }
  .small-navigation .main-nav {
    font-size: 110%; }
  .small-navigation .logo-text {
    margin-top: 15px; }
  .steps-box:first-child {
    margin-top: 0; }
  .steps-box:last-child {
    margin-top: 30px !important; }
  .form-group div {
    margin-left: 0;
    width: 100%; }
  body {
    font-size: 16px; }
  .logo-text {
    margin-top: 40px;
    font-size: 160%; }
  section {
    padding: 60px 0; }
  .section-steps .works-step {
    padding-bottom: 5px; }
  .works-step-container {
    margin-top: 30px; }
  .long-copy {
    width: 80%;
    margin-left: 10%; }
  .steps-box {
    margin-top: 0; }
    .steps-box img {
      margin: 0 auto; }
  .col-md-3 {
    width: 25%;
    float: left !important; }
  .works-step {
    margin-bottom: 30px; }
    .works-step div {
      padding-top: 8px; }
  .icon-small {
    width: 20px; } }

/* ------------------------------------------------------------ */
/* SMALL TABLETS to BIG TABLETS from 821 to 991px */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 991px) {
  #sidebar {
    border-right: none !important;
    border-left: 2px solid #ddd !important;
    margin-bottom: -40px;
    margin-left: 30px;
    font-size: 110%;
    text-align: left; }
    #sidebar ul li {
      text-align: left; }
  .section-steps h2 {
    margin-bottom: 40px; }
  .works-step-container {
    margin-top: -30px;
    margin-left: 25%;
    width: 50%;
    display: inline-block; }
    .works-step-container .works-step div {
      position: relative;
      top: 0;
      right: 0; }
  .profile-form .form-group, .new-password-form .form-group {
    margin-bottom: 0; }
  .card {
    margin-bottom: 40px; } }

/* ------------------------------------------------------------ */
/* SMALL TABLETS to BIG TABLETS from 768 to 820px */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 820px) {
  .three-steps {
    display: none !important; }
  .works-step-container {
    margin-top: -30px;
    margin-left: 25%;
    width: 50%;
    display: inline-block; }
    .works-step-container .works-step div {
      position: relative;
      top: 0;
      right: 0; } }

/* ------------------------------------------------------------ */
/* SMALL PHONES to SMALL TABLETS from 481 to 767px */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 150%; }
  .logo {
    margin-left: 10px; }
  .main-nav {
    display: none;
    margin-top: 35px;
    margin-left: 5px;
    float: left; }
    .main-nav li {
      display: block; }
      .main-nav li a:link, .main-nav li a:visited {
        border: none;
        padding: 10px 0;
        font-size: 100%;
        display: block; }
  .mobile-nav-icon {
    margin-right: 10px;
    display: inline-block; }
  .small-navigation .main-nav {
    margin-top: 2px !important;
    margin-bottom: 5px !important; }
    .small-navigation .main-nav li a {
      padding-bottom: 0 !important; }
    .small-navigation .main-nav li:last-child {
      padding-bottom: 15px !important; }
  .sticky .logo-black {
    margin-left: 10px; }
  .sticky .logo-text {
    margin-top: 15px; }
  .sticky .main-nav {
    margin-top: 10px;
    margin-left: 20px; }
    .sticky .main-nav li {
      margin-left: 0; }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
      padding: 10px 0; }
  .sticky .mobile-nav-icon {
    margin-top: 5px; }
    .sticky .mobile-nav-icon i {
      color: #555; }
  .small-navigation .mobile-nav-icon {
    margin-top: 5px; }
    .small-navigation .mobile-nav-icon i {
      color: #555; }
  .hero-text-box .btn-full, .hero-text-box .btn-ghost {
    margin-bottom: 20px; }
  .col-md-3 {
    width: 100%;
    clear: both; }
  .city-feature:last-child {
    margin-bottom: 50px; }
  .photos-showcase li {
    width: 50%; }
  .photos-showcase-second-row {
    display: none; }
  .works-step-container {
    margin-top: -30px;
    margin-left: 25%;
    width: 50%;
    display: inline-block; }
    .works-step-container .works-step div {
      position: relative;
      top: 0;
      right: 0; }
  .section-cities {
    padding-bottom: 10px; }
  .section-testimonials {
    padding-bottom: 30px; }
  .section-contact {
    padding-bottom: 30px; }
  .section-features {
    padding-left: 10px;
    padding-right: 10px; }
  .works-step div {
    padding-top: 8px; }
  footer .footer-nav, footer .footer-social-links {
    font-size: 110%;
    text-align: center;
    float: none;
    clear: both; }
  footer ul {
    margin-bottom: 20px; }
  footer p {
    font-size: 110%; } }

/* ------------------------------------------------------------ */
/* SMALL PHONES from 0 to 480px */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 480px) {
  .mobile-nav-icon {
    display: inline-block; }
  .row {
    padding: 0 10px; }
  .section-features {
    padding-left: 10px;
    padding-right: 10px; }
  .card {
    width: 100%; } }

/*# sourceMappingURL=app.css.map */
