/* *** */
/* APP */
/* *** */

/* ------------------------------------------------------------ */
/* IMPORTS */
/* ------------------------------------------------------------ */

 @import "variables";

/* ------------------------------------------------------------ */
/* ADS */
/* ------------------------------------------------------------ */

.section-show-ads
	{
	.subtitle
		{
		color : $orange;
		text-align : center !important;
		}
	img
		{
		margin-top : 30px;
		}
	.description
		{
		margin-top : 30px;
		font-size : 80%;
		text-align : justify;
		}
	.profile
		{
		margin-top : 30px;
		text-align : center;
		img
			{
			border : 2px solid $light-grey !important;
			width : 100px;
			height : 100px;
			border-radius : 50%;
			margin-top : 0;
			padding : 5px;
			}
		}
	ul
		{
		margin-top : 30px;
		li a
			{
			font-size : 80%;
			}
		}
	.tab-content
		{
		margin-top : 10px;
		font-size : 80%;
		}
	.user-description
		{
		margin-bottom : 30px;
		font-size : 80%;
		text-align : justify;
		}
	.tab-content
		{
		margin-top : 20px;
		i
			{
			padding-left : 10px;
			}
		.row
			{
			margin-bottom : 15px;
			}
		strong
			{
			padding-left : 10px;
			}
		}
	#map
		{
		position : relative;
		border : 1px solid $light-grey-footer;
		width : 100%;
		height : 300px;
		}
	}

/* ------------------------------------------------------------ */

.section-create-ads
	{
	.row, .form-group
		{
		margin-bottom : 0;
		}
	input[type=checkbox]
		{
		margin-left : 10px;
		}
	}

/* ------------------------------------------------------------ */

.photo-frame
	{
	border : 1px solid $light-grey-footer !important;
	border-radius: 0% !important;
	padding : 5px;
	}

#container_upload_primary_photo
	{
	margin: 0 auto !important;
	width : 372px !important;
	}

#remove_primary_photo, #remove_photo_1, #remove_photo_2, #remove_photo_3, #remove_photo_4, #remove_photo_5, #remove_photo_6
	{
	position : absolute;
	top : -10px;
	right : -15px;
	}

.delete-ad-primary-photo-form, .delete-ad-photo-1-form, .delete-ad-photo-2-form, .delete-ad-photo-3-form, .delete-ad-photo-4-form, .delete-ad-photo-5-form, .delete-ad-photo-6-form
	{
	margin : 0;
	}

/* ------------------------------------------------------------ */
/* ANIMATIONS */
/* ------------------------------------------------------------ */

.js--wp-1,
.js--wp-2,
.js--wp-3
	{
	opacity : 0;
	-webkit-animation-duration : 1s;
	animation-duration : 1s;
	}

.js--wp-4
	{
	-webkit-animation-duration : 1s;
	animation-duration : 1s;
	}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated
	{
	opacity : 1;
	}

/* ------------------------------------------------------------ */
/* AVATAR */
/* ------------------------------------------------------------ */

.section-avatar
	{
	padding : 0 0 20px 0;
	p
		{
		font-size : 80%;
		}
	}

#avatar-form
	{
	margin-top : 0;
	}

.small-avatar
	{
	border-radius: 50%;
	width : 32px;
	margin-right: 5px;
	}

#image-avatar
	{
	border : 1px solid $light-grey-footer;
	padding: 5px;
	}

.image-upload > input
	{
    display : none;
	}

.image-upload label
	{
	cursor : pointer;
	}

.image-upload
	{
	img
		{
		border-radius: 50%;
		}
	}

/* ------------------------------------------------------------ */
/* BALISES */
/* ------------------------------------------------------------ */

*
	{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	&.actif
		{
		color : $orange !important;
		}
	}

blockquote
	{
	margin-top : 40px;
	position : relative;
	border-left : none;
	padding : 2%;
	font-style : italic;
	line-height : 145%;
	&:before
		{
		position : absolute;
		top : -5px;
		left : -3px;
		font-size : 500%;
		display : block;
		content : '\201C';
		}
	}

cite
	{
	margin-top : 25px;
	font-size : 90%;
	display : block;
	img
		{
		margin-right : 10px;
		border-radius : 50%;
		height : 45px;
		vertical-align : middle;
		}
	}

form
	{
	margin-top : 10px;
	.row
		{
		margin-bottom : 20px;
		}
	}

html, body
	{
	color : $grey-font;
	font-weight : 300;
	font-size : 20px;
	text-rendering : optimizeLegibility;
	}

body
	{
	font-family : 'Lato', 'Arial', sans-serif;
	}

h1,
h2
	{
	margin : 0;
	font-weight : 300;
	text-transform : uppercase;
	}

h3
	{
	margin : 0;
	font-weight : 300;
	}

h1
	{
	margin-top : 0;
	margin-bottom : 20px;
	color : white;
	font-size : 280%;
	letter-spacing : 1px;
	word-spacing : 4px;
	}

h2
	{
	margin-bottom : 30px;
	font-size : 180%;
	word-spacing : 2px;
	letter-spacing : 1px;
	text-align : center;
	}

h2:after
	{
	content : " ";
	background-color : $orange;
	margin : 30px auto 0 auto;
	width : 100px;
	height : 2px;
	display : block;
	}

h3
	{
	margin-bottom : 15px;
	font-size : 110%;
	}

label
	{
	font-size : 70% !important;
	font-weight : 300;
	}

/* ------------------------------------------------------------ */
/* BOX */
/* ------------------------------------------------------------ */

.box
	{
	padding : 1%;
	p
		{
		font-size : 90%;
		line-height : 145%;
		}
	}

/* ------------------------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------------------------ */

.btn:link,
.btn:visited,
input[type=submit]
	{
	border-radius : 50px;
	padding : 10px 30px;
	font-size : 110%;
	font-weight : 300;
	tewt-decoration : none;
	display : inline-block;
	-webkit-transition : background-color $transition, border $transition, color $transition;
	transition : background-color $transition, border $transition, color $transition;
	&:hover, &:active, &:focus
		{
		background-color : $orange-darker;
		color : white !important;
		}
	}

.btn-full:link,
.btn-full:visited,
input[type=submit]
	{
	border : 1px solid $orange;
	background-color : $orange;
	margin-right : 15px;
	color : white;
	&:hover, &:active, &:focus
		{
		border : 1px solid $orange-darker;
		color : white !important;
		}
	}

.btn-ghost:link,
.btn-ghost:visited
	{
	border : 1px solid $orange !important;
	color : orange;
	&:hover, &:active
		{
		border : 1px solid $orange-darker;
		background-color : $orange-darker;
		color : white !important;
		}
	}

.btn-circle
	{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	}

/* ------------------------------------------------------------ */
/* CARD */
/* ------------------------------------------------------------ */

.card
	{
	position : relative;
	background-color : white;
	box-shadow : 0 0 20px rgba( 0, 0, 0, 0.1 );
	margin : 20px auto 0 auto;
	width : 370px;
	overflow : hidden;
	-webkit-transition : box-shadow $transition;
	transition : box-shadow $transition;
	&:hover
		{
		box-shadow : 0 0 50px rgba( 0, 0, 0, 0.3 );
		.card-thumb
			{
			height : 100px;
			}
		.card-thumb img
			{
			opacity : 0.6;
			}
		}
	}

.card:hover
	{
	.card-body
		{
		height : 220px + 190px;
		}
	img
		{
		opacity : 0.6;
		-webkit-transform : scale( 1.2 );
		-ms-transform : scale( 1.2 );
		transform : scale( 1.2 );
		}
	}

.card-city
	{
	background-color : $orange;
	position : absolute;
	top : 0;
	left : 0;
	height : 30px;
	padding : 5px 10px;
	line-height : 15px;
	color : white;
	text-align : center;
	}

.card-thumb
	{
	background-color : black;
	border-bottom : 2px solid $light-grey !important;
	height : 235px;
	overflow : hidden;
	-webkit-transition : height $transition;
	transition : height $transition;
	img
		{
		opacity : 1;
		display : block;
		-webkit-transform : scale( 1 );
		-ms-transform : scale( 1 );
		transform : scale( 1 );
		-webkit-transition : opacity $transition, -webkit-transform $transition;
		transition : opacity $transition, -webkit-transform $transition;
		transition : opacity $transition, transform $transition;
		transition : opacity $transition, transform $transition, -webkit-transform $transition;
		}
	}

.card-body
	{
	position : relative;
	padding : 20px;
	height : 220px;
	-webkit-transition : height $transition;
	transition : height $transition;
	}

.card-location
	{
	background-color : $orange;
	position : absolute;
	top : -27px;
	left : 0;
	padding : 0 15px;
	height : 25px;
	line-height : 25px;
	color : white !important;
	font-size : 90%;
	text-transform : uppercase;
	a
		{
		color : white !important;
		margin-bottom : none;
		text-decoration : none;
		}
	}

.card-title
	{
	margin : 0;
	padding: 0 0 25px 0;
	line-height : 25px;
	font-size : 90%;
	font-weight : bold;
	.card:hover &
		{
		-webkit-animation : titileBlur $transition;
		animation : titileBlur $transition;
		}
	a
		{
		color : $grey-font !important;
		text-decoration : 0 !important;
		border-bottom : 2px solid transparent !important;
		&:hover
			{
			border-bottom : 1px solid $orange-darker !important;
			}
		}
	}

.card-subtitle
	{
	margin : 0;
	padding : 0 0 15px 0;
	color : $orange;
	text-align : center;
	.card:hover &
		{
		-webkit-animation : subTitileBlur $transition;
		animation : subTitileBlur $transition;
		}
	}

.card-description
	{
	position : absolute;
	left : 20px;
	right : 20px;
	margin-bottom : 30px;
	color : $grey-font;
	line-height : 30px;
	font-size : 90%;
	opacity : 0;
	-webkit-transition : opacity $transition -0.1s, -webkit-transform $transition -0.1s;
	transition : opacity $transition -0.1s, -webkit-transform $transition -0.1s;
	transition : opacity $transition -0.1s, transform $transition -0.1s;
	transition : opacity $transition -0.1s, transform $transition -0.1s, -webkit-transform $transition -0.1s;
	-webkit-transition-delay : 0s;
	transition-delay : 0s;
	-webkit-transform : translateY( 25px );
	-ms-transform : translateY( 25px );
	transform : translateY( 25px );
	.card:hover &
		{
		opacity : 1;
		-webkit-transition-delay : 0.15s;
		transition-delay : 0.15s;
		-webkit-transform : translateY( 0 );
		-ms-transform : translateY( 0 );
		transform : translateY( 0 );
		}
	}

.card-footer
	{
	position : absolute;
	bottom : 20px;
	left : 20px;
	right : 20px;
	color : $dark-grey-footer;
	font-size : 70%;
	a
		{
		color : $dark-grey-footer !important;
		font-style : italic;
		text-decoration : 0;
		border-bottom : 1px solid transparent !important;
		}
	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@-webkit-keyframes titileBlur
	{
	0%
		{
		opacity : 0.6;
		text-shadow : 0px 5px 5px rgba( 0, 0, 0, 0.6 );
		}
	100%
		{
		opacity : 1;
		text-shadow : 0px 5px 5px rgba( 0, 0, 0, 0 );
		}
	}

@keyframes titileBlur
	{
	0%
		{
		opacity : 0.6;
		text-shadow : 0px 5px 5px rgba( 0, 0, 0, 0.6 );
		}
	100%
		{
		opacity : 1;
		text-shadow : 0px 5px 5px rgba( 0, 0, 0, 0 );
		}
	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@-webkit-keyframes subTitileBlur
	{
	0%
		{
		opacity : 0.6;
		text-shadow : 0px 5px 5px rgba( $orange, 0.6 );
		}
	100%
		{
		opacity : 1;
		text-shadow : 0px 5px 5px rgba( $orange, 0 );
		}
	}

@keyframes subTitileBlur
	{
	0%
		{
		opacity : 0.6;
		text-shadow : 0px 5px 5px rgba( $orange, 0.6 );
		}
	100%
		{
		opacity : 1;
		text-shadow : 0px 5px 5px rgba( $orange, 0 );
		}
	}

/* ------------------------------------------------------------ */
/* CITIES */
/* ------------------------------------------------------------ */

.cities-photo
	{
	margin-bottom : 15px;
	width : 100%;
	height : auto;
	}

.city-feature
	{
	margin-bottom : 5px;
	}

/* ------------------------------------------------------------ */
/* CLASSES */
/* ------------------------------------------------------------ */

.mandatory
	{
	position : absolute !important;
	top : 6px;
	left : -15px;
	color : $error;
	font-size : 60%;
	}

.relative
	{
	position : relative !important;
	}

.success
	{
	color : $success;
	}

.error
	{
	color : $error;
	}

/* ------------------------------------------------------------ */
/* CONTACT FORM */
/* ------------------------------------------------------------ */

.section-contact
	{
    background-image : -webkit-linear-gradient( rgba( 255, 255, 255, 0.87 ), rgba( 255, 255, 255, 0.87 ) ), url( 'img/contact.jpg' );
    background-image : linear-gradient( rgba( 255, 255, 255, 0.87 ), rgba( 255, 255, 255, 0.87 ) ), url( 'img/contact.jpg' );
	background-position : center;
	background-size : cover;
	}

/* ------------------------------------------------------------ */
/* CLEARFIX */
/* ------------------------------------------------------------ */

.clearfix
	{
	zoom : 1;
	}

.clearfix:after
	{
	content : '.';
	clear : both;
	display : block;
	height : 0;
	visibility : hidden;
	}

/* ------------------------------------------------------------ */
/* CONTAINER & ROW */
/* ------------------------------------------------------------ */

.container-fluid
	{
	padding : 0;
	}

.row
	{
	max-width : 1140px;
	margin : 0 auto;
	}

/* ------------------------------------------------------------ */
/* DROPDOWN MENU */
/* ------------------------------------------------------------ */

.dropdown
	{
	position : relative;
	display : inline-block;
	}

.dropdown-content
	{
	box-shadow : 0px 8px 16px 0px rgba( 0, 0, 0, 0.2 );
	background-color : white;
	position : absolute;
	top : 38px;
	min-width : 160px;
	font-size : 90%;
	display : none;
	}

.dropdown-content a
	{
	padding : 12px 16px !important;
	color : black;
	text-decoration : none;
	height : 45px;
	display : block;
	}

.dropdown-content a:hover
	{
	background-color : #f1f1f1
	}

.dropdown:hover .dropdown-content
	{
    display : block;
	}

/* ------------------------------------------------------------ */
/* ERROR MESSAGE */
/* ------------------------------------------------------------ */

.help-block
	{
	margin-bottom : 0;
	font-size : 70% !important;
	}

/* ------------------------------------------------------------ */
/* FEATURES */
/* ------------------------------------------------------------ */

.section-features .long-copy
	{
	margin-bottom : 30px;
	}

/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */

footer
	{
	background-image : url( 'img/footer.jpg' );
	background-color: $grey-footer;
	background-size : cover;
	background-position : center;
	width : 100%;
	padding : 50px;
	font-size : 80%;
	ul
		{
		list-style : none;
		}
	p
		{
		margin-top : 20px;
		color : $dark-grey-footer;
		font-size : 90%;
		text-align : center;
		}
	}

.footer-nav
	{
	font-size : 110%;
	float : left;
	}

.footer-social-links
	{
	float : right;
	li
		{
		a:link, a:visited
			{
			font-size : 150%;
			}
		}
	}

.footer-flags
	{
	text-align : center;
	button[type=submit]
		{
		border : none;
		height : 0;
		}
	}

.footer-nav,
.footer-social-links,
.footer-flags
	{
	li
		{
		margin-right : 20px;
		display : inline-block;
		&:last-child
			{
			margin-right : 0;
			}
		a:link, a:visited
			{
			border-bottom : none;
			color : $dark-grey-footer;
			text-decoration : none;
			-webkit-transition : color $transition;
			transition : color $transition;
			}
		a:hover, a:active
			{
			color : $light-grey-footer;
			}
		}
	}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram
	{
	-webkit-transition : color $transition;
	transition : color $transition;
	}

.ion-social-facebook
	{
	&:hover
		{
		color : $facebook-footer;
		}
	}

.ion-social-twitter
	{
	&:hover
		{
		color : $twitter-footer;
		}
	}

.ion-social-googleplus
	{
	&:hover
		{
		color : $googleplus-footer;
		}
	}

.ion-social-instagram
	{
	&:hover
		{
		color : $instagram-footer;
		}
	}

/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */

header
	{
	background-image : -webkit-linear-gradient( rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0.7 ) ), url( 'img/header.jpg' );
	background-image : linear-gradient( rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0.7 ) ), url( 'img/header.jpg' );
	background-size : cover;
	background-position : center;
	background-attachment : fixed;
	height : 100vh;
	a
		{
		border-bottom : none !important;
		}
	}

.hero-text-box
	{
	position : absolute;
	top : 50%;
	left : 50%;
	width : 1140px;
	-webkit-transform : translate( -50%, -50% );
	-ms-transform : translate( -50%, -50% );
	transform : translate( -50%, -50% );
	}

.logo,
.logo-black
	{
	width : auto;
	height : 50px;
	margin-top : 20px;
	float : left;
	}

.logo-black
	{
	display : none;
	}

.logo-text
	{
	margin-top : 25px;
	margin-left : 15px;
	color : white;
	font-size : 200%;
	display : inline-block;
	span
		{
		margin-right : 0;
		color : $orange-darker;
		}
	}

/* Main navigation */

.main-nav
	{
	margin-top : 47px;
	list-style : none;
	font-size : 90%;
	float : right;
	.dropdown-content
		{
		top : 34px;
		a
			{
			color : $grey-font !important;
			}
		}
	li
		{
		margin-left : 25px;
		display : inline-block;
		a:link, a:visited
			{
			border-bottom : 2px solid transparent !important;
			padding : 8px 0;
			color : white;
			text-decoration : none;
			text-transform : uppercase;
			-webkit-transition : border-bottom $transition;
			transition : border-bottom $transition;
			}
		a:hover, a:active
			{
			border-bottom : 2px solid $orange !important;
			}
		}
	li:last-child a img
		{
		margin-top : -7px;
		}
	}

/* Mobile navigation */

.mobile-nav-icon
	{
	margin-top : 30px;
	cursor : pointer;
	display : none;
	float : right;
	i
		{
		font-size : 200%;
		color : white;
		}
	}

/* Small navigation */

.small-navigation
	{
	background-image : none !important;
	background-color : rgba( 255, 255, 255, 0.98 );
	margin-bottom : 0;
	height : auto;
	.main-nav
		{
		margin-top : 17px !important;
		.dropdown-content
			{
			top : 39px;
			}
		}
	nav
		{
		box-shadow : 0 2px 2px #efefef;
		li
			{
			a:link, a:visited
				{
				border-bottom : 3px solid transparent !important;
				padding : 18px 0 13px 0;
				color : $grey-font;
				font-size : 80% !important;
				}
			a:hover, a:active
				{
				border-bottom : 3px solid $orange !important;
				padding-bottom : 13px;
				}
			}
		}
	.logo-black
		{
		margin : 5px 0 10px 0;
		height : 40px;
		display : block;
		}
	.logo-text
		{
		margin-top : 7px;
		color : $grey-font;
		font-size : 150%;
		}
	.main-nav
		{
		margin-top : 23px;
		margin-bottom : 0;
		}
	}

/* Sticky navigation */

.sticky
	{
	background-color : rgba( 255, 255, 255, 0.98 );
	box-shadow : 0 2px 2px #efefef;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	z-index: 9999;
	.main-nav
		{
		margin-top : 20px;
		font-size : 80%;
		.dropdown-content
			{
			top : 42px;
			}
		li
			{
			a:link, a:visited
				{
				border-bottom : 3px solid transparent !important;
				padding : 8px 0 16px 0;
				color : $grey-font;
				}
			a:hover, a:active
				{
				border-bottom : 3px solid $orange !important;
				padding-bottom : 16px;
				}
			}
		}
	.logo-black
		{
		margin : 5px 0 10px 0;
		height : 40px;
		display : block;
		}
	.logo
		{
		display : none;
		}
	.logo-text
		{
		margin-top : 7px;
		color : $grey-font;
		font-size : 150%;
		}
	}

/* ------------------------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------------------------ */

.section-steps
	{
	background-color : $light-grey;
	padding-bottom : 50px;
	}

.steps-box:first-child
	{
	margin-top : 20px;
	margin-right : 0;
	}

.steps-box:last-child
	{
	margin-top : 90px;
	padding-left : 3%;
	}

.layout-image
	{
	margin-left : 40px;
	text-align : right;
	}

.works-step
	{
	margin-bottom : 50px;
	div
		{
		border : 2px solid $orange;
		border-radius : 50%;
		margin-right : 25px;
		padding : 2px 8px 8px 8px;
		width : 55px;
		height : 55px;
		color : $orange;
		font-size : 150%;
		text-align : center;
		display : inline-block;
		float : left;
		}
	p
		{
		padding-top : 15px;
		}
	}

/* ------------------------------------------------------------ */
/* ICONS */
/* ------------------------------------------------------------ */

.icon-big
	{
	margin-bottom : 10px;
	color : $orange;
	font-size : 350%;
	display : block;
	}

.icon-small
	{
	margin-top : -5px;
	margin-right : 10px;
	width : 30px;
	color : $orange;
	font-size : 120%;
	text-align : center;
	line-height : 120%;
	vertical-align : middle;
	display : inline-block;
	}

/* ------------------------------------------------------------ */
/* LINKS */
/* ------------------------------------------------------------ */

a:link,
a:visited
	{
	border-bottom : 1px solid $orange;
	padding-bottom : 1px;
	color : $orange;
	text-decoration : none;
	-webkit-transition : border-bottom $transition, color $transition;
	transition : border-bottom $transition, color $transition;
	}

a:hover,
a:active
	{
	border-bottom : 1px solid transparent;
	color : $grey-font;
	}

a.simple-link:link,
a.simple-link:visited,
a.link-invisible:link,
a.link-invisible:visited
	{
	border-bottom : 1px solid transparent;
	color : $grey-font !important;
	font-size : 80%;
	}

a.simple-link:hover,
a.simple-link:active
	{
	border-bottom : 1px solid $orange;
	}

a.link-invisible:hover,
a.link-invisible:active
	{
	border-bottom : 1px solid transparent;
	}

/* ------------------------------------------------------------ */
/* NOTIFICATION */
/* ------------------------------------------------------------ */

.peek-a-bar-success
	{
	background-color : $success !important;
	font-size : 80%;
	color : white;
	}

.peek-a-bar-error
	{
	background-color : $error !important;
	font-size : 80%;
	color : white;
	}

/* ------------------------------------------------------------ */
/* PARAGRAPHS */
/* ------------------------------------------------------------ */

.long-copy
	{
	width : 70%;
	line-height : 145%;
	margin-left : 15%;
	text-align : center;
	}

/* ------------------------------------------------------------ */
/* PHOTOS SHOWCASE */
/* ------------------------------------------------------------ */

.section-photos
	{
	padding : 0;
	}

.photos-showcase
	{
	margin-bottom : 0;
	width : 100%;
	list-style : none;
	li
		{
		width : 25%;
		display : block;
		float : left;
		}
	}

.photo
	{
	background-color : black;
	margin : 0;
	width : 100%;
	overflow : hidden;
	img
		{
		width : 100%;
		height : auto;
		opacity : 0.7;
		-webkit-transform : scale( 1.15 );
		-ms-transform : scale( 1.15 );
		transform : scale( 1.15 );
		-webkit-transition : opacity $transition-photo-showcase, -webkit-transform $transition-photo-showcase;
		transition : opacity $transition-photo-showcase, -webkit-transform $transition-photo-showcase;
		transition : transform $transition-photo-showcase, opacity $transition-photo-showcase;
		transition : transform $transition-photo-showcase, opacity $transition-photo-showcase, -webkit-transform $transition-photo-showcase;
		&:hover
			{
			cursor : pointer;
			opacity : 1;
			-webkit-transform : scale( 1 );
			-ms-transform : scale( 1 );
			transform : scale( 1 );
			}
		}
	}

/* ------------------------------------------------------------ */
/* PROFILE FORM */
/* ------------------------------------------------------------ */

.profile-form
	{
	margin-bottom : 25px;
	}

/* ------------------------------------------------------------ */
/* PROGRESS BAR */
/* ------------------------------------------------------------ */

.progress
	{
	margin-bottom : 5px;
	margin-top : 10px;
	height: 5px;
	}

/* ------------------------------------------------------------ */
/* REGISTRATION, LOGIN, & RESET PASSWORD */
/* ------------------------------------------------------------ */

.section-registration, .section-login, .section-reset-password
	{
	margin : 0;
	padding : 90px 0 100px 0;
	}

.register-form, .login-form, .reset-password-form
	{
	margin-top : 10px;
	.form-group
		{
		margin-bottom : 0;
		}
	}

.register-form
	{
	.g-recaptcha
		{
		margin-top : 5px !important;
		}
	}

/* ------------------------------------------------------------ */
/* SECTIONS */
/* ------------------------------------------------------------ */

section
	{
	padding : 80px 0;
	}

/* ------------------------------------------------------------ */
/* SIDE BAR */
/* ------------------------------------------------------------ */

#sidebar
	{
	border-right : 1px solid $light-grey-footer !important;
	margin-top : 30px;
	padding-bottom : 20px;
	padding-right : 30px;
	font-size : 95%;
	h3
		{
		margin-top : 30px;
		margin-bottom : 10px;
		color : $orange;
		}
	li
		{
		list-style : none;
		text-align : right;
		line-height : 150%;
		a:link, a:visited
			{
			border-bottom : 2px solid transparent !important;
			font-size : 80%;
			color : $grey-font !important;
			text-decoration : none !important;
			}
		a:hover, a:active
			{
			border-bottom : 2px solid $orange !important;
			}
		}
	}

/* ------------------------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------------------------ */

.section-testimonials
	{
	background-image : -webkit-linear-gradient( rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0.7 ) ), url( 'img/testimonials.jpg' );
	background-image : linear-gradient( rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0.7 ) ), url( 'img/testimonials.jpg' );
	background-size : cover;
	background-position : center;
	background-attachment : fixed;
	color : white;
	}
